@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    margin-top: 130px;
    height: 35px;
    background-color:forestgreen ;
    background-size: 50%;
}
header h1{
    font-family: 'Aboreto', cursive;
    font-size: 60pt;
    color:yellowgreen;
    position: absolute;
    left: 300px;
    top: 100px;
    text-shadow: 3px 3px rgb(54, 54, 54);
}
header img{
    position: absolute;
    transform: scale(160%);
    left: 10px;
    top: 55px;
    clip-path: inset(10px 30px 130px 40px)
}
nav{
    top: 235px;
    position: absolute;
    right: 50px;
}
nav a{
    padding: 5px;
    font-size: 14pt;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    background-color: black;
    box-shadow: 3px 3px rgb(92, 92, 92);
}
nav a:hover{
    color: white;
    background-color: grey;
    border: 1px solid black;
    transform:scale(200%);
}
.BotonActivo{
    color: white;
    background-color:grey;
    border: 1px solid black;
}
h2{
    font-family: 'Aboreto', cursive;
    position: relative;
    width: fit-content;
    top: 100px;
    left: 230px;
}
h3{
    margin: 5px 0;
    font-size: 20pt;
}
main{
    position: relative;
    width: 800px;
    margin-left: 230px;
    text-align: justify;
    top: 120px;
    color: black;
    font-weight: 700;
}
main img{
    position: fixed;
    width: auto;
    transform: translateX(-230px) translateY(-75px);
    opacity: 50%;
    z-index: -1;
    border-top: 2px solid black;
}