@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

*{
    font-family: 'Comic Neue', cursive;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    margin-top: 20px;
    height: 150pt;
    background-image: url(../img/design1_image2.jpg);
    background-size: cover;
    background-position: 0% 20%;
    border-top: 50px solid white;
    box-sizing: content-box;
}
header h1{
    margin-left: 15px;
    margin-top: -70px;
    font-size: 40pt;
    color:yellowgreen;
}
header img{
    scale: 40%;
    position: absolute;
    left: -60px;
    top: 325px;
}
nav{
    top: 60px;
    position: absolute;
    right: 50px;
}
nav a{
    padding: 5px;
    font-size: 14pt;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid black;
    background-color: rgb(89, 116, 238);
    box-shadow: 3px 3px rgb(92, 92, 92);
}
nav a:hover{
    color: white;
    background-color: forestgreen;
    border: 1px solid black;
}
.BotonActivo{
    color: white;
    background-color: forestgreen;
    border: 1px solid black;
}
h2{
    color: white;
    text-align: center;
    background-color: black;    
    margin: 0;
}
h3{
    margin: 5px 0;
    font-size: 20pt;
}
main{
    display: inline-block;
    width: 500px;
    margin-left: 200px;
    text-align: justify;
    margin-top: 100px;
    vertical-align: middle;
}
main img{
    position:fixed;
    right: 100px;
    top: 330px;
    opacity: 60%;
    height: 300px;
    width: fit-content;
}
