@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
header{
    margin-top: 130px;
    height: 35px;
    background-color:forestgreen ;
    background-size: 50%;
}
header h1{
    font-family: 'Aboreto', cursive;
    font-size: 4.5vw;
    flex-wrap: nowrap;
    color:yellowgreen;
    position: absolute;
    left: 300px;
    top: 100px;
    text-shadow: 3px 3px rgb(54, 54, 54);
}
header img{
    position: absolute;
    transform: scale(160%);
    left: 10px;
    top: 55px;
    clip-path: inset(10px 30px 130px 40px)
}
nav{
    top: 235px;
    position: absolute;
    right: 50px;
    flex-wrap: nowrap;
}
nav a{
    padding: 5px;
    font-size: 12pt;
    color: white;
    text-decoration: none;
    vertical-align: middle;
    background-color: black;
    box-shadow: 3px 3px rgb(92, 92, 92);
}
nav a:hover{
    color: white;
    background-color: grey;
    border: 1px solid black;
}
.BotonActivo{
    color: white;
    background-color:grey;
    border: 1px solid black;
}
h2{
    font-family: 'Aboreto', cursive;
    position: relative;
    width: fit-content;
    top: 100px;
    left: 230px;
}
h3{
    margin: 5px 0;
    font-size: 20pt;
}
h4{
    text-indent: 30px;
}
main{
    margin-left: 230px;
    margin-right: 300px;
    text-align:justify;
    margin-top: 125px;
    color: black;
    font-weight: 700;
    line-height: 1.2;
}
ol{
    margin-left: 30px;
}
.ListaGrupos{
    margin-top: 2px;
    margin-left: 50px;
    list-style-type:lower-latin;
}
.Coach{
    margin-left: 50px;
}
main img{
    position:fixed;
    width: auto;
    transform: translateX(-230px) translateY(-75px);
    opacity: 40%;
    z-index: -1;
    border-top: 2px solid black;
}
table{
    margin: 20px 20px 50px 20px;
}
th{
    padding: 10px 20px 0px 30px;
    font-family: 'Aboreto', cursive;
    text-align: left;
}
tr, td{
    padding: 10px 20px 0px 30px;
    vertical-align: top;    
}
h{
    font-weight: 900;
    text-decoration: underline;
    line-height: 1.5;
}
.Email{
    float: right;
}
#button, #button1, #button2, #button3, #button4, #button5, #button6, #button7, #button8, #button9{
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  outline: 0;
  overflow: hidden;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 9;
  border: 0;
  padding: 3px;
  margin-left: 20px;
  float: right;
}
form fieldset{
    margin: 10px 0px;
    border: none;
    font-size: 20px;
}
form label, form input{
    margin: 3px;
}